@theme {
  --color-bg: var(--color-neutral-950);
  --color-fg: var(--color-neutral-50);
  --color-muted: oklch(32.62% 0.022 270.66);
  --color-muted-fg: oklch(59.39% 0.0524 276.88);
  --color-primary: oklch(83.63% 0.1259 175.88);
  --color-warning: var(--color-amber-600);
  --color-error: var(--color-rose-600);
}
